@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200&display=swap');
* {
    font-family: 'Overpass', sans-serif;
    scroll-behavior: smooth;
}

.img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.tengah {
    text-align: center;
}

.rata {
    display: block;
    margin: auto;
}

#home {
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 4rem;
}

#about {
    background-color: #f8f8f8 !important;
    border-radius: 10px;
    padding: 4rem;
}

.card {
    border-color: #f8f8f8;
    background: #f8f8f8;
    /* color: #f8f8f8; */
    box-shadow: 0 0 40px rgba(51, 51, 51, 0.5);
}

.card:hover {
    transform: translateY(-15px);
    transition: all .3s ease-in-out;
}

.lab {
    font-size: 10rem;
}

.la-github {
    color: black;
}

.github:hover {
    color: #f8f8f8 !important;
    background-color: black;
}

.github:hover a i {
    color: #f8f8f8 !important;
}

.telegram:hover {
    background-color: #007bff;
}

.telegram:hover a i {
    color: #f8f8f8;
}

#contact {
    background-color: #f8f8f8 !important;
    border-radius: 10px;
    padding: 4rem;
}